@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/product-list.css");

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    padding-bottom: 10px;
    padding-top: 60px;
}

.avatar {
    border-radius: 50%;
    width: 50px;

}

.avatar-small {
    border-radius: 50%;
    width: 30px;
}

.container {
    padding: 20px;
}

