.josh-card {
    height: 260px;
    background: linear-gradient(180deg,
                                rgba(0,0,0,0.8) 0%,
                                rgba(0,0,0,0) 45%),         
                url("https://picsum.photos/1000/1000");
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(204,204,204,0.8);
    -moz-box-shadow: 1px 3px 5px 0px rgba(204,204,204,0.8);
    box-shadow: 1px 3px 5px 0px rgba(204,204,204,0.8);
    width: 100%;
    background-size: cover;
}

.josh-card:hover {
    -webkit-box-shadow: 1px 4px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 1px 4px 5px 0px rgba(204,204,204,1);
    box-shadow: 1px 4px 6px 0px rgba(204,204,204,1);
}

.card-title {
    color: black;
    font-size: 13px;
    font-weight: bold;
    bottom: 15px;
    left: 15px;
    position: absolute;
    bottom: 25px;
}

.card-subtitle {
    color: #1e1e1e;
    font-size: 11px;
    font-weight: lighter;
    bottom: 15px;
    left: 15px;
    position: absolute;
    bottom: 16px;
}

.card-panel {
    position: absolute;
    bottom: 0px;
    height: 70px;
    background-color: white;
    box-shadow: 10px black;
    width: 100%;
    left: 0px;
}

.card-avatar {
    position: absolute;
    right: 10px;
    top: 10px;
}